<h2>
    Experimental DragRacer satellites will test 'Terminator Tape' for space junk
    cleanup this fall
  </h2>
  <br />
  <div>
    An experimental mission to test tether-based orbital debris cleanup method
    with "Terminator Tape" is slated to launch this fall to test the deorbit
    performance of two satellites. The Millennium Space Systems mission, called
    DragRacer, involves two small satellites that are set to launch simultaneously
    to low Earth orbit (LEO) to measure how fast satellites fall out of space. The
    goal, the company said, is to study technologies for removing space debris
    from orbit. One of the satellites will fall from orbit on its own. The second
    satellite, meanwhile, will use an onboard tether made of Terminator Tape
    that's designed to speed up reentry and deorbit the craft. The
    California-based Millennium Space Systems, which specializes in small
    satellites for national security customers, will use a "Teminator Tape" tether
    developed by Tethers Unlimited for the tethered deorbit test. The company has
    partnered with TriSept Corp., a provider of launch integration and management
    services. TriSept Corp. developed the tether and will be the mission's launch
    service provider.
  </div>
  