<h2>
    Jupiter's huge moon Ganymede may have the largest impact scar in the solar
    system
  </h2>
  <br />
  <div>
    Scientists have discovered what they believe may be the largest impact crater
    in the entire solar system, with scars covering a vast portion of Jupiter's
    biggest moon, Ganymede. The scientists behind the new research wanted to
    revisit observations from a host of past NASA missions that studied the
    massive moon, which is larger than Mercury, the smallest planet in our
    neighborhood. In particular, they were intrigued by a set of features dubbed
    furrows, which appear on some of the moon's oldest terrain. Previous
    researchers had pointed to these furrows as evidence of a large impact
    powerful enough to leave scars across an entire side of Ganymede. But on
    revisiting the structures, the scientists behind the new research believe
    that's an underestimate, and that the furrows represent an impact so large as
    to affect the entire moon.
  </div>
  