<h2>
    Dropped emissions during COVID-19 lockdown will do 'nothing' for climate
    change
  </h2>
  <br />
  <div>
    While greenhouse gas emissions plummeted as the world locked down in response
    to the coronavirus pandemic, such dips will do "nothing" to slow climate
    change unless society moves away from fossil fuels, researchers have found. On
    March 11, 2020, the World Health Organization declared the novel coronavirus
    disease, COVID-19, a pandemic, which it remains today. To slow the spread of
    the virus, countries around the world began implementing lockdown measures
    that limited travel and closed down factories and businesses. In turn,
    Earth-orbiting satellites saw a dramatic decrease in greenhouse gas emissions.
    However, according to an international study led by the University of Leeds,
    unless large-scale, structural interventions — like a significant switch away
    from fossil fuels — are implemented, these changes will not affect Earth's
    climate. In fact, the researchers found, even if lockdown measures continue in
    some fashion around the world until the end of 2021, more than a year and half
    total, global temperatures will only be roughly 0.018 degrees Fahrenheit (0.01
    degrees Celsius) lower than expected by 2030.
  </div>
  