<h2>
    Arecibo Observatory weathers Tropical Storm Isaias to track potentially
    dangerous asteroid
  </h2>
  <br />
  <div>
    A famed radio telescope overcame Tropical Storm Isaias to determine the threat
    level of a space rock zooming by Earth. In both cases, happily, everything
    worked out just fine. Astronomers with the Arecibo Observatory in Puerto Rico
    weresupposed to observe the close-flying asteroid 2020 NK1 from July 30 to 31,
    when the object — which scientists first spotted in early July — would be
    within close range (5 million miles or 8 million kilometers) of the
    radar-probing telescope. Unfortunately, that timing fell exactly when Tropical
    Storm Isaias was supposed to crash into Puerto Rico. Arecibo, which was hit
    hard by Hurricane Maria in 2017 and closed due to an earthquake this past
    winter, shut down once again to minimize harm to their staff and observing
    equipment. Parts of the island did lose power from Isaias, but Arecibo was not
    impacted as badly. This allowed the telescope to safely swing into action
    after the tropical storm came through.
  </div>
  