<h2>
    SpaceX's toasted Crew Dragon returns home after historic NASA astronaut
    splashdown
  </h2>
  <br />
  <div>
    CAPE CANAVERAL, Fla. — SpaceX's Crew Dragon capsule cruised into its home port
    Friday evening (Aug. 7), secured to one of the company’s recovery vessels.
    Onlookers gathered at Jetty Park (while social distancing) in anticipation of
    the Crew Dragon’s arrival after the capsule's historic splashdown on Aug. 2
    that returned NASA astronauts Bob Benken and Doug Hurley to Earth. The
    mission, SpaceX's first crewed flight, was NASA's first orbital crewed flight
    from U.S. soil since 2011. Jetty Park — a popular launch viewing location — is
    located at the mouth of the port, and all marine traffic comes through this
    point. Typically packed with excited space fans waiting to see a launch, Jetty
    Park has been closed during most of the pandemic, but recently reopened in
    phases.
  </div>
  