ul {
	padding: 0;
	width: 1000px;
	margin: 28px auto;
	height: 10px;
}

li{
	display: inline;
}

.tn{
	margin: 6px;
	border: 4px solid #eee;
	box-shadow: #555 1px 1px 8px 1px;
}
.row {
	justify-content: center;
	align-content: center;
}

h2 {
	align-content: center;
    justify-content: center;
    text-align: center;
}