<h2>
    You can book a weightless flight with Zero Gravity again after hiatus due to
    coronavirus
  </h2>
  <br />
  <div>
    Zero Gravity Corporation (Zero-G), a company that offers weightless
    experiences so you can floatt like an astronaut, is returning to the skies
    after taking a pause during the ongoing coronavirus pandemic. Zero-G takes
    paying customers on "zero gravity" flights, or parabolic flights during which
    an aircraft flies in alternating upward and downward arcs to create a
    microgravity environment in the cabin. Some passengers fly for the thrill of
    weightlessness, while scientists use the plane toconductmicrogravity
    experiments, but everybody on board floats for brief periods of time during
    the flights.. The company halted its flights temporarily during the ongoing
    coronavirus pandemic and are resuming flights this month, with the next flight
    set take place Aug. 16 from Long Beach, California, Zero-G said in an Aug. 6
    statement.
  </div>
  