<h2>Mysterious 'fast radio burst' detected closer to Earth than ever before</h2>
<br />
<div>
  Thirty thousand years ago, a dead star on the other side of the Milky Way
  belched out a powerful mixture of radio and X-ray energy. On April 28, 2020,
  that belch swept over Earth, triggering alarms at observatories around the
  world. The signal was there and gone in half a second, but that's all
  scientists needed to confirm they had detected something remarkable: the first
  ever "fast radio burst" (FRB) to emanate from a known star within the Milky
  Way, according to a study published July 27 in The Astrophysical Journal
  Letters. Since their discovery in 2007, FRBs have puzzled scientists. The
  bursts of powerful radio waves last only a few milliseconds at most, but
  generate more energy in that time than Earth's sun does in a century.
  Scientists have yet to pin down what causes these blasts, but they've proposed
  everything from colliding black holes to the pulse of alien starships as
  possible explanations. So far, every known FRB has originated from another
  galaxy, hundreds of millions of light-years away. Related: 11 fascinating
  facts about our Milky Way galaxy This FRB is different. Telescope observations
  suggest that the burst came from a known neutron star — the fast-spinning,
  compact core of a dead star, which packs a sun's-worth of mass into a
  city-sized ball — about 30,000 light-years from Earth in the constellation
  Vulpecula. The stellar remnant fits into an even stranger class of star called
  a magnetar, named for its incredibly powerful magnetic field, which is capable
  of spitting out intense amounts of energy long after the star itself has died.
  It now seems that magnetars are almost certainly the source of at least some
  of the universe's many mysterious FRBs, the study authors wrote.
</div>
