<h2>
    On This Day in Space! Aug. 9 1976: Soviet Luna 24 sample return probe launches
    to the moon
  </h2>
  <br />
  <div>
    Space is supported by its audience. When you purchase through links on our
    site, we may earn an affiliate commission. Learn more Home News Spaceflight On
    This Day in Space! Aug. 9 1976: Soviet Luna 24 sample return probe launches to
    the moon By Hanneke Weitering - Associate Editor 21 hours ago Comments (4)
    Click here for more Space.com videos... On Aug. 9, 1976, the Soviet space
    program launched its last moon mission. Luna 24 was a robotic sample return
    mission and the third of its kind. It lifted off on a Proton-K rocket from the
    Baikonur Cosmodrome in Kazakhstan and safety landed on the lunar surface nine
    days later. The probe landed in a dark plain known as Mare Crisium, or the
    "Sea of Crises" and collected 6 ounces (170.1 grams) of soil samples, which it
    brought back to Earth on Aug. 22, 1976. Scientists then found that the samples
    from Luna 24 contained tiny traces of water — about 0.1 percent by mass. 21
    Most Marvelous Moon Missions of All Time Luna 9: 1st Soft Landing on the Moon
    Lunokhod 1: 1st Successful Lunar Rover Catch up on our entire "On This Day In
    Space" series on YouTube with this playlist.
  </div>
  