<h2>
    NASA's OSIRIS-REx spacecraft prepares for final asteroid-sampling rehearsal
  </h2>
  <br />
  <div>
    NASA's OSIRIS-Rex spacecraft is preparing for its final rehearsal before
    touching down on asteroid Bennu this fall to snag a piece of space rock.
    OSIRIS-REx, which has been orbiting Bennu since 2018, is NASA's first
    asteroid-sampling spacecraft. The probe is scheduled to practice its touchdown
    sequence for a second time on Tuesday, Aug. 11. During the practice session,
    the spacecraft will rehearse the touch-and-go sample-collection event, similar
    to the mission's April 14 checkpoint rehearsal, which practiced the first two
    maneuvers of the descent. But this time, the spacecraft will add a third
    maneuver, called the matchpoint burn, and fly closer to the sample site, known
    as Nightingale, than it has before.
  </div>
  