<h2>'Star Trek: Discovery' Season 3 release date revealed</h2>
<br />
<div>
  We didn't get a new trailer for Season 3 of "Star Trek: Discovery" at this
  year's Comic-Con@Home event — in fact, we've only seen the teaser trailer that
  showed at last year's New York Comic Con. It seems a trifle odd that CBS
  passed on the opportunity given it literally had a captive audience for the
  Star Trek Universe panel, so fingers crossed we'll get one soon and no doubt
  it will catch everyone by surprise and then shortly after cause the internet
  to explode. However, just a day after Comic-Con@Home ended, CBS did give
  confirm the 13-episode Season 3 premiere date, which will be Oct. 15, on CBS
  All Access. And, sci-fi fans, from October onwards, we can expect a lot of
  quality TV, as the second season of "The Mandalorian" also airs in October and
  while the exact date hasn't been confirmed by Disney Plus, one rumor suggests
  that it might be as soon as Oct. 7. It's not yet known how many episodes will
  be in Season 2.
</div>
