<h2>{{ title }}</h2>
<div class="row">
    <button class="btn btn-lg btn-info" [class.active]="filterBy===FILTER.ALL" (click)="filterBy=FILTER.ALL">All</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy===FILTER.GALAXIES"
        (click)="filterBy=FILTER.GALAXIES">Galaxies</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy===FILTER.HUBBLE" (click)="filterBy=FILTER.HUBBLE">Hubble</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy===FILTER.MILKYWAY" (click)="filterBy=FILTER.MILKYWAY">Milky
        Way</button>
</div>
<ul class="thumbnailsList">
    <li *ngFor="let image of (visibleImages | imageFilter:filterBy)">
        <a [routerLink]="['/image', image.id]">
            <img src="{{image.url}}" class="tn" width="200" height="160">
        </a>
    </li>
</ul>