<div fxLayout="row" >
<app-news-page class="page-component-news"></app-news-page></div>
<div fxLayout="row" >
<app-hubble-page class="page-component-hubble"></app-hubble-page>
<app-gallery-page class="page-component-gallery"></app-gallery-page></div>
<div fxLayout="row" >
<app-about-page class="page-component-about" fxFlex="40"></app-about-page>
<app-sent-email class="page-component-message" fxFlex>Write Email</app-sent-email>
<app-link-page class="page-component-link" fxFlex="40"></app-link-page>
</div>